<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmybatis.admin.common.mapper.CommonMapper">
  	<!-- 여기의 주석은 이거지만, 아래는 sql 주석(/**/) 써야한다. -->
  	<resultMap type="ksmybatis.admin.common.domain.CommonCode" id="commonResultMap">
  		<id column="comm_group_cd" 			property="commonGroupCode"/>
  		<id column="comm_cd" 				property="commonCode"/>
  		<result column="comm_group_nm" 		property="commonGroupName"/>
  		<result column="comm_group_eng_nm" 	property="commonGroupEngName"/>
  		<result column="comm_nm" 			property="commonName"/>
  		<result column="comm_eng_nm" 		property="commonEngName"/>
  		<result column="comm_cd_use_yn" 	property="commonCodeUseYN"/>
  		<result column="comm_cd_reg_date" 	property="commonCodeRegDate"/>
  	</resultMap>
  	<select id="getCommonCodeListByGroupCode" parameterType="String" resultMap="commonResultMap">
  		/*그룹코드에 일치하는 공통코드 목록조회*/
  		select
			cgc.comm_group_cd,
			cgc.comm_group_nm,
			cgc.comm_group_eng_nm,
			cgc.comm_group_reg_date,
			cc.comm_cd,
			cc.comm_nm,
			cc.comm_eng_nm,
			cc.comm_cd_use_yn,
			cc.comm_cd_reg_date
		from 
			comm_group_code cgc inner join comm_code cc
			on cgc.comm_group_cd = cc.comm_group_cd
		where
			cgc.comm_group_cd =#{groupCode};
  	</select>
  </mapper>
  
  